<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; 2025 ProTrack. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p>Crafted with ❤️ by <a href="https://www.linkedin.com/in/rajvi-dhameliya/">Rajvi</a></p>
            </div>
        </div>
    </div>
</footer> 